/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */





 html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    outline: none;
  }
  

  ol, ul {
    list-style: none;
  }
  
  .login-signup {
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    justify-content: flex-end;
  }

  .textpe > div {
      margin-right: 132px; 
      color: white;
      font-size: 13px; 
      font-family: Arial, Helvetica, sans-serif


  }

  .login-form-box > .login-input {
      margin-right: 10px; 
      border: 1px solid black; 
  }

  .login-form-box {
      display: flex;
      margin-top: 5px;
  }

  .login-form-container {
    width: 610px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  .textpe {
      display: flex; 
      margin-top: 14px; 
      
  }

  .navhead {
  display: flex; 
  justify-content: flex-end;
  height: 80px; 
  background: linear-gradient(#73aca1 ,#1ba187);
  border-bottom: 1px solid #356157;
 }




 .butterflyr {
    text-decoration: none;
    font-size: 43px;
    color: white;
    font-family: Klavika;
    z-index: 10;
    margin-right: 422px;
    margin-top: 27px;
    
}

 .movingbutterfly {
     width: 100px;
     height: 100px; 
 }


 .submit {
    font-size: 43px;
    width: 50px;
    z-index: 10;
    font-size: 13px;
    box-sizing: border-box;
    font-family: Klavika; 
    background-color: #1ba187;
    color: white;   
    padding: 0px; 
    height: 25px; 
    margin-left: 1px;
 }


 .email {
     font-family: sans-serif;
     top: 15px;
     left: 830px;
     width: 50px;
     font-size: 12px; 
     color: white; 
 }
 .password {    
    flex-direction: column;
    font-family: sans-serif;
    width: 50px;
    z-index: 10;
    font-size: 12px; 
    color: white; 
 }

.email > input {
    width: 149px;
    height: 20px;
    border: 1px solid #186656; 
    
}

.password > input {
    width: 149px;
    height: 20px;
    border: 1px solid #186656; 
    
}

.greeting {
    font-family: SF Pro Display;
    font-weight: 900px;
    font-size: 36px;
    margin-top: 21px;
    margin-bottom: 6px;
    font-weight: 550;
}
h3 {
    font-family: SF Pro Display; 
    top: 150px;
    left: 810px;
    font-size: 18px; 
}






.box-4 {
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #b7c0ce;
    margin-top: 10px;
    font-family: SF Pro Display; 
}

.box-5 {
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #b7c0ce;
    margin-top: 10px; 
    font-family: SF Pro Display; 
}

#box-6 {
    display: flex;
    border-radius: 5px;
    font-size: 20px;
    
    font-family: SF Pro Display; 
    color: rgb(194, 194, 194);
    
}

#box-6 > select {
    margin:1px; 
    width:62px;
    height:30px; 
}

#birth {
    font-size: 16px;
    font-family: SF Pro Display;
    color: #90949c;
    font-weight: 700;
    margin-top: 17px;
    margin-bottom: 5px;
}

#gen {
    margin-top:14px;
    margin-bottom:10px;  
    font-weight: 500px; 
    font-size: 17px; 
    font-weight: 700;
    color: #90949c;
    font-family: SF Pro Display; 
}



#pickgen {
   
    font-size: 17px;
    font-family: SF Pro Display;
}

body {
    background-color: #e9ebee;
}


 

 .terms {
     width: 300px;
     font-size: 8px; 
    font-size: 11px;
    font-family: SF Pro Display;
    color: rgb(138, 136, 136);
 }

 .signup {
     width: 200px;
     height: 40px;
     font-size: 10px;
     position: relative;
    font-family: Klavika;
    border: none;
    border-radius: 5px;
    background-color: #1ba187;
    color: white; 
    font-size: 20px; 
    text-shadow: 2px 2px #19352f;
    margin-top: 18px; 
 }

 /* .popup {
    
    background-color: #27836c;
    font-size: 12px;
    top: 61px;
    left: 835px;
    position: absolute;
    width: 280px;
    color: white;
    border: 1px solid black;
    text-align: center;
    height: 16px;
    border-radius: 9px;
    box-shadow: -0.5px 0px 10px rgb(80, 70, 70);
    z-index: 2;
    text-align: center;
    border-radius: 2px;
    font-family: SF Pro Display;
} */

.demo-button {
    width: 50px;
    z-index: 10;
    font-size: 13px;
    box-sizing: border-box;
    font-family: Klavika;
    background-color: #1ba187;
    color: white;
    padding: 0px;
    height: 25px;
}

.fnln {
    display: flex; 
    flex-direction: row; 
    margin-top: 25px; 
}

.textpe {
    display: flex;
    margin-top: 9px;
    font-family: 10px;
    font-size: 11px;
}

.sign-up-form {
    align-self: flex-end;
    margin-right: 94px; 
    width: 538px; 

}



.butterfree {
    position: absolute;
    top: 10px; 
    left: 20px; 
    animation-name: myanimation; 
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes myanimation {
    0% {top: 10px; left:20px}
    25% {top: 100px; left: 30px;}
    50% {top: 200px; left: 80px}
    75% {top: 100px; left: 30px;}
    100% {top: 10px; left:20px;}
}


input:focus {
    outline: none;
}


/* home page feed!!!! */

.home-page-containers {
    display: flex; 
    justify-content: center; 
}

.birthday-friend-column {
    width: 310px;
    height: 90px;
    background-color: white;
    margin-top: 17px;
    border: 1px solid #dddfe2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
}

.sponsored-ads {
    width: 310px; 
    height:555px;
    background-color: white;
    margin-top: 10px; 
    font-family: sans-serif;
    color: #616161;

}

.ad-2-a {
    width: 310px; 
    height:300px;
    background-color: white;
    margin-top: 10px; 
    font-family: sans-serif;
    color: #616161;

}



.request-tab {
    width: 310px;
    height: auto; 
    margin-left: 7px;
}

.picklecostume {
    object-fit: cover; 
    width: 284px;
    height: 150px; 
    margin-left: 11px;
    margin-top: 11px;
}

.azy {
    width: fit-content;
}

.adstuff {
    font-family: sans-serif;
    color: #616161;
    margin-left: 11px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 11px;
    font-size: 13px; 
    width:284px;

}

.sponsor-text, .ad-2-text {
    font-size: 13px;
    color: #199c7b;
    margin-top: 11px;
    margin-left: 11px; 
}

.newsfeed-posts {
    display: flex;
    flex-direction: column;
}

.cont-wall { 
    display: flex;
    flex-direction: column;
}
