.bio-container {
    width: 322px;
    height: auto;
    background-color: white;
    border: 1px solid #d6e8e6;
    margin-top: 15px;
}

.globe-icon {
    height: 20px;
    width: 20px;
    border: 4px solid #2a8e7c;
    border-radius: 50%;
    margin-right: 7px;
}

.intro {
    height: fit-content;
    margin-top: 16px;
    margin-left: 16px;
    align-items: center;
    display: flex;
    margin-right: 10px;
    font-family: SF Pro Display;
    font-size: 17px;
}

.bio {
    /* margin-top: 15px; */
    width: auto;
    height: 40px;
    font-size: 12px;
    font-family: sans-serif;
    /* margin-left: 33px; */
    padding: 15px;
    text-align: center;
    word-wrap:break-word;
    display:block;
}
    .edit-bio {
        margin-top: 11px;
        width: 285px;
        height: 27px;
        background-color: #efefef;
        margin-left: 18px;
        border: 1px solid #c7c7c7;
        /* font-weight: 100; */
    }

    .edit-details {
        margin-top: 11px;
        width: 285px;
        height: 27px;
        background-color: #efefef;
        margin-left: 18px;
        border: 1px solid #c7c7c7;
        /* font-weight: 100; */
        margin-bottom: 14px;
    }



    .bioedit {
        font-weight: 600;
        color: #464646;
        
    }

    .detailedit {
        font-weight: 600;
        color: #464646;
    }


    .house, .geo, .clock {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        margin-top: -1px;
    }


.h, .g, .c {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    font-family: sans-serif;
    color: #3a3a3a;
}

.image-1 {
    object-fit: cover;
    width: 312px;
    height: 210px;
    margin-left: 1px;
}

.image-2, .image-3, .image-4 {
    object-fit: cover;
    width: 101px;
    height: 93px;
    margin: 2px;

}


.user-info {
    border-top: 1px solid #e0e0e0;
    margin-top: 12px;
    width: 285px;
    margin-left: 24px;
}

.photos {
    margin-left: 4px;
}


.input-bio {
    height: 80px;
    width: 300px;
    margin-left: 8px;
    margin-top: 8px;
    border: 1px solid #ebedf0;
    text-align: center;
    word-wrap:break-word;
    display:block;
}

.bottom-sect-bio-edit {
    height: 70px; 
    width: 302px; 
    background-color: #f5f6f7; 
    border: 1px solid #ebedf0;
    margin-left:8px; 
}

.cancel-button {
    border: none;
    border: 1px solid #ebedf0;
    width: 60px;
    height: 24px;
    color: #707680;
    font-weight: bold;

}

.save-button {
    border: none;
    border: 1px solid #ebedf0;
    background: linear-gradient(#73aca1 ,#1ba187);
    color: white;
    width: 46px;
    height: 24px;
    font-weight: bold;
}

.counter-for-text {
    font-family: sans-serif;
    color: #a6aaaf;
    font-size: 13px;
    text-align: end;
    margin-right: 6px;
    margin-top: 6px;
}

.button-container {
    align-items: end;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 6px;
}