.bio-comment-container {
display: flex;

}

.create-post {
    margin-top: 15px;
    margin-left: 14px;
    width: 500px;

    height: 154px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #dddfe2;
}



.top-create {
    height: 33px; 
    background-color: #f5f6f7; 
}

.textbox-container {
    margin-top: 15px;
       
}

.textbox-prof {
    object-fit: cover;
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    padding-left: 10px;
}

.submit-post {
    font-family: sans-serif;
    padding-top: 10px;
    display: flex;
}

.cpa {
    padding-left: 0px;
    margin-top: 4px;
    border-right: 1px solid #ccd0d5;
    width: 80px;
    font-size: 12px;
    font-weight: 700;
    color: #4b4f56;
}
.create-textbox {
    outline: none;
    height: 34px;
    width: 405px;
    border: none;
    padding-left: 15px;
    padding-bottom: 3px;
    text-align: justify;
    font-size: 16px;
    font-family: sans-serif;
    /* color: black; */
}

.create-textbox::placeholder {
    position: relative;
    top: -10px; 
    left: 0px; 
    color: #b1b1b1;
    font-size: 15px; 
    font-family: sans-serif;
}
.pencil {
    width: 25px;
    height:20px; 
}





.post-bottom-container {
    margin-top: 13px;
    margin-left: 13px;
    font-family: sans-serif;
    color: #535766;
    height: 37px;
}

.upload-photo-post {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    
}

.upload-photo-post + label {
    font-family: sans-serif;
    border: 1px solid white;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    background-color: #f5f6f7;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 6px;
}

.upload-photo-post:focus + label,
.upload-photo-post + label:hover {
    background-color: rgb(170, 170, 170);
    cursor: pointer; 
}

.upt {
    margin: 10px; 
}

.photo-pic-up {
    width: 20px;
    height: 20px; 
} 

.bottom-container {
    border-top: 1px solid #dbdbdb;
    width: 480px;
    margin-left: 10px;
    margin-top: 5px;
}