.bio-comment-container {
display: flex;

}

.create-post {
    margin-top: 15px;
    margin-left: 14px;
    width: 518px;
    height: 154px;
    background-color: white;
    display: flex;
    flex-direction: column;

}

.top-create {
    height: 33px; 
    background-color: #f5f6f7; 
}

.textbox-container {
    margin-top: 15px;
    border-bottom: 1px solid #e9ebee;   
}

.textbox-prof {
    object-fit: cover;
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    padding-left: 10px;
}

.submit-post {
    font-family: sans-serif;
    padding-top: 10px;
    display: flex;
}

.cpa {
    padding-left: 0px;
    margin-top: 4px;
    border-right: 1px solid #ccd0d5;
    width: 80px;
    font-size: 12px;
    font-weight: 700;
    color: #4b4f56;
}
.create-textbox {
    outline: none;
    height: 34px;
    width: 405px;
    border: none;
    padding-left: 15px;
    padding-bottom: 3px;
    text-align: justify;
    font-size: 16px;
    font-family: sans-serif;
    /* color: black; */
}
.pencil {
    width: 25px;
    height:20px; 
}



.photo-sub {  
    font-family: sans-serif;
    border-radius: 1px solid black;
    border: 1px solid white;
    width: 80px;
    height: 24px;
    text-align: center;
    border-radius: 10px;
    background-color: #f5f6f7;
    font-size: 12px;
    font-weight: 600;
}

.post-bottom-container {
    margin-top: 13px;
    margin-left: 13px;
    font-family: sans-serif;
    color: #535766;
    height: 37px;
}