.friend-container {
    display: flex;
    flex-direction: column;
    border: 1px solid#ccd0d5;
    margin-top: 4px;
}

.friend-index-logo {
    margin-left: 13px;
    margin-top: 18px; 
}

.title-friend-index {
    color: #4b4f56;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    margin-left:10px; 
    margin-top: 19px;
}   

.header-friend-index {
    display: flex;
    
}

.header-friend-idx {
    background-color: #f5f6f7;
    height: 85px;
    border-bottom: 1px solid #ccd0d5;
}

.friend-count-cont {
    margin-left: 10px;
    margin-top: 19px;
    display: flex;
}

.friend-text-ind {
    font-weight: 600;
    color: #5d626b;
    font-family: helvetica;
    font-size: 13px;
}

.user-friendsindex {
    display: flex;
    width: 404px;
    border: 1px solid #ccd0d5;
    height: 103px;
    margin: 17px;

}

.friend-index-list {
   
    background-color: white;
    height: auto;
}

.friend-index-name {
    color: teal;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    margin-top: 40px;
    margin-left: 10px;
}



.counter-friendamt {
    color: #8a929d;
    font-family: sans-serif;
    font-size: 13px;
    margin-left: 5px;
}

.friend-status-btn {
    border: 1px solid #bdc0c5;
    width: 80px;
    height: 25px;
    background-color: #f5f6f7;
    color: #4b4f56;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 33px;
    margin-left: 101px;
    position: relative;

}

.drp-dwn-frnd {
    position: absolute;
    display: none; 
    width: 193px;
    height: 37px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    left: 604px;
    border: 1px solid #949292;
}

.unfrnd-txt {
    border-top: 1px solid #ccd0d5;
    
    margin-top: 9px;
    padding: 4px;
    font-family: sans-serif;
    font-size: 13px;
}

.unfrnd-txt:hover {
    background-color: rgb(33, 158, 152);
    color: white;
}

.unfrnd-txt:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 15px;
    top: -18px;
    border: 9px solid transparent;
    border-bottom-color: white;
    width: 0;
    height: 0;
    bottom: 100%;
  }

  .unfrnd-txt:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 14px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom-color: #949292;
    width: 0;
    height: 0;
    bottom: 100%;
  }

.cont-friend-stat:hover .drp-dwn-frnd {
    display: block;
}

.friend-status-btn:hover {
    background-color: #d8d8d8;
    cursor: pointer;
}   