.Nav-Bar {
    display: flex; 
    justify-content: center;
    height: 41px; 
    background: linear-gradient(#73aca1 ,#1ba187);
    border-bottom: 1px solid #356157;
    font-family: Klavika;
    color: white;
}



.butterfly-Logo {
    width: 6%;
    /* height: 11%; */
    /* margin-left: 68px; */
    margin-top: 3px;
    margin-right: 120px;
}


.TopBox {
    display: flex;
    flex-direction: column;     
    width: 850px;
    height: 360px; 
    margin:auto;  
    height:1000px;   
}

.drop-down-btn {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #105a48;
    z-index: 2;
    transform: rotate(90deg);
    /* margin-top: 10px; */
    align-self: center;
    margin-left: 22px;
}

.drop-down-btn:hover {
    border-left: 7px solid #dcf0eb;
    cursor: hand; 
    cursor: pointer;
}


.visible {
    width: 83px;
    height: 20px;
    transform: rotate(-90deg);
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute; 
    top: -10px;
    left: -20px;
    color: black;
    
}

 



.visible:hover {
    background-color: teal;
}

.visible:after {
    content: "Log Out"; 

}





.friend-req-link {
    text-decoration: none;
}



.profile-small {
    object-fit: cover;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    align-self: center;
    margin-right: 7px;
    
}

.showpage {
    text-decoration: none;
    color: white;
    display: flex;
    width: 89px;
    height: 25px;
    /* margin-top: 8px; */
    align-self: center;
}

.home {
    text-decoration: none;
    color: white;
    display: flex;
    width: 41px;
    height: 25px;
    /* margin-top: 8px; */
    align-self: center;
    /* margin-left: 9px; */
    padding-left: 9px;
}

.showpage:hover, .home:hover {
    background-color: #319a81;
    
}



.Name {
    font-size: 13px;
    margin-top: 2px;
    border-right: 1px solid #57908b;
    padding-right: 16px;
    align-self: center;
}   

.homeLink {
    font-size: 13px;
    margin-top: 2px;
    border-right: 1px solid #57908b;
    padding-right: 9px;
    align-self: center;
}   

.friend-notification {
        width: 35px;
        height: 35px;
        margin-top: 4px;
        margin-left: 5px;
       
}

.friend-notification:hover {
    cursor: pointer;
}

.true-friend-drp {
    position: absolute;
    left: 800px;
    top: 42px;
    background-color: white;
    color: black;
    height: auto;
    width: 437px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.false-friend-drp:focus {
   outline: none;

}

div:focus {
    outline: none;
    border: none; 
 }



.false-friend-drp {
    display:none;
}

.request-container {
    display: flex;
    padding: 10px; 
    border-bottom: 1px solid #dddfe2;
}

.requesterprof {
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.title-drp {
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #333333;
    border-bottom: 1px solid #dddfe2;
}

.requestname {
    margin-left: 5px; 
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #3ea692;
}

.bio-tag { 
        font-size: 12px;
        margin-left: 5px;
        font-family: sans-serif;
        color: #6f6f6f;
}

.friendapprove {
    color: white;
    background-color: #47a794;
    width: 65px;
    height: 25px;
    font-weight: 600;
    /* border-right: 5px; */
    margin-left: 26px;
    margin-right: 3px;
}


.denyfriend {
    width: 65px;
    height: 25px;
    font-weight: 600;
    background-color: #f5f6f7; 
    color: #4b4f56; 
}

.textholder { 
    width: 194px;
}

.buttonclass {
    margin-top: 10px; 
}