.post-index-container {
    width: 500px; 
    height: auto; 
    background-color: white; 
    margin-top: 13px;
    margin-left: 13px;
    border: 1px solid #dddfe2;
    display: flex;
    flex-direction: column; 
}

.photo-on-post {
    object-fit: cover;
    width: 500px;
    height: 300px;
    
}



.prof-name-ind {
    display: flex;
    height: 50px;
}

.prof-photo-ind {
    object-fit: cover; 
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    margin: 13px;
}

.comment-like-container {
    display: flex; 
    flex-direction: row;
    border-top: 1px solid #dddfe2;
    width: 468px;
    margin-left: 14px;
    border-bottom: 1px solid #dddfe2;
}

.write-comm {
    display: flex;
    /* margin: 10px; */
    margin: 10px; 
}
.write-comm-prof {
    object-fit: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    
}

.like-button {
    height: 20px;
    width: 20px; 
}

.post-date-name {
    display:flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 12px;
}

.author-name {
    font-family: sans-serif;
    font-weight: 500;
    color: #2a8e7c;
    margin-top: 4px;
}

.date-made {
    
    color: #636972;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-top: 3px;
}

.body-of-post { 
    color: #797f86; 
    margin: 10px;
    font-family: sans-serif;

}

.commenticon {
    width: 20px; 
    height: 20px; 
}

.comment-text, .likes { 
        font-family: sans-serif;
        font-weight: 500;
        color: #797f86;
        margin-top: 2px;
        margin-left: 5px;
    
}

.ctii, .cti {
    display: flex;
    /* margin-left: 65px; */
    padding-top: 8px;
    padding-bottom: 8px;
    color: #606770;
    padding-left: 51px;
    /* margin-left: 3px; */
    padding-right: 51px;
    margin: 3px;
}


.ctii:hover, .cti:hover {
    background-color: #f2f2f2; 
    cursor: pointer;
}

.write-comment-box {
    margin-left: 8px;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    background-color: #f2f3f5;
    width: 437px;
    font-size: 12px;
    text-indent: 11px;
}

.write-comment-box::placeholder {
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 13px; 
    color: #a5a5a5
    

}

.edit-post-button {
    margin-top: -6px;
    margin-left: 309px;
    font-size: xx-large;
    height: 35px;
    color: #545454;
}

.edit-post-button:hover {
    cursor: pointer; 
}

.trueDropDown-undefined {
    position: absolute;
    display: block; 
    /* top: 1560px; */
    /* left: 180px; */
    left: 1156px;
    background-color: white;
    width: 70px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}

.trueDropDown-newsfeed {
    position: absolute;
    display: block; 
    /* top: 1560px; */
    /* left: 180px; */
    left: 906px;
    background-color: white;
    width: 70px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
}

.falseDropDown-undefined {
    display: none; 
    outline: none;
}

.falseDropDown-newsfeed {
    display: none; 
    outline: none;
}

.e-post, .d-post {
    font-family: sans-serif;
    /* margin-top: 5px; */
    font-size: 12px;
    padding: 5px;
    width: 60px;
}

.e-post:hover, .d-post:hover {
    background-color: #2a8e7c; 
    color: white; 
    cursor: pointer; 
}
