.CoverPhoto {
    object-fit: cover;
    width: 848px;
    height: 315px;
    border-left: 1px solid #9a9a9a;
    border-right: 1px solid #9a9a9a;
}


.sectional {
    display: flex;
    justify-content: flex-end;
    width: 850px;
    height: 40px;
    background-color: white;
    margin-bottom: 4px;
    font-family: SF Pro Display;
    /* flex-wrap: wrap; */
}

.about, .friends, .photos, .more, .timeline{
    text-decoration: none;
    color: #319a81;
    border-left: 1px solid #d6e8e6;
    padding-left: 18px;
    padding-top: 10px;
    padding-right: 17px;
    font-weight: 500;
    font-size: 15px;
     
}

.about:hover, .friends:hover, .photos:hover, .more:hover, .timeline:hover {
    background-color: #218c7e2b;
}

.prof-links {
    display: flex; 
    margin-right: 184px;

}

.main-prof-pic {
    object-fit: cover;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    position: relative;
    top: -144px;
    left: -62px;
    border: 5px solid white;
}



  .outerborder {
    height: 160px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 211px;
    left: 313px;
    border: 7px solid #dadada;
    width: 160px;
}
