.fname-not-focus-invalid:before {
    position: absolute;
    right: 446px;
    top: 206px;
    content: "!";
    background: #489e7f;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
    color: white;
    height: 22px;
    width: 22px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.box-1:focus + div {
    visibility: visible; 
}

.box-2:focus + div {
    visibility: visible; 
}
.box-4:focus + div {
    visibility: visible; 
}

.box-5:focus + div {
    visibility: visible;    
}

.error-arrow-right {
    visibility: hidden;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #27836c;
    position: absolute;
    z-index: 2;
    left: 791px;
    top: 201px;
}



.fname-focus-invalid:after {
    content: "What's your name?"; 
    position: absolute;
    background-color: #27836c;
    border: rgb(16, 59, 48) 1px solid;
    box-shadow: -0.5px 0px 10px rgb(80, 70, 70);
    z-index: 2;
    width: 115px;
    left: 654px;
    top: 195px;
    padding: 12px;
    font-size: 12px;
    color: white;
    text-align: center;
    border-radius: 2px;
    font-family: SF Pro Display;
}

.lname-not-focus-invalid:before {
    position: absolute;
    content: "!";
    background: #489e7f;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
    color: white;
    height: 22px;
    width: 22px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    top: 207px;
    right: 239px;
}

.lname-focus-invalid:after{
    content: "What's Your Name?"; 
    position: absolute;
    background-color: #27836c;
    border: rgb(16, 59, 48) 1px solid;
    box-shadow: -0.5px 0px 10px rgb(80, 70, 70);
    z-index: 2;
    width: 115px;
    left: 1050px;
    top: 245px;
    padding: 12px;
    font-size: 12px;
    color: white;
    text-align: center;
    border-radius: 2px;
    font-family: SF Pro Display;
}
.email-focus-invalid:after{
    text-align: left; 
    content:"You'll use this when you log in and if you ever need to reset your password";
    position: absolute;
    background-color: #27836c;
    border: rgb(16, 59, 48) 1px solid;
    box-shadow: -0.5px 0px 10px rgb(80, 70, 70);
    z-index: 2;
    width: 300px;
    left: 470px;
    top: 245px;
    padding: 12px;
    font-size: 12px;
    color: white;
    text-align: center;
    border-radius: 2px;
    font-family: SF Pro Display;
}

.email-not-focus-invalid:before {
    text-align: left;
    position: absolute;
    right: 240px;
    top: 254px;
    content: "!";
    background: #489e7f;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
    color: white;
    height: 22px;
    width: 22px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}

.password-focus-invalid:after{
    content: "Enter a combination of at least six numbers, letters and punctuations marks (like ! and &)."; 
    position: absolute;
    background-color: #27836c;
    border: rgb(16, 59, 48) 1px solid;
    box-shadow: -0.5px 0px 10px rgb(80, 70, 70);
    z-index: 2;
    width: 300px;
    left: 465px;
    top: 290px;
    padding: 12px;
    font-size: 12px;
    color: white;
    text-align: center;
    border-radius: 2px;
    font-family: SF Pro Display;
}

.password-not-focus-invalid:after {
    position: absolute;
    right: 240px;
    top: 302px;
    content: "!";
    background: #489e7f;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
    color: white;
    height: 22px;
    width: 22px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
}


.box-1 {
    font-family: SF Pro Display;
    margin-right: 7px;
    height: 35px;
    width: 190px;
    border: 1px solid #b7c0ce;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    top: 198px;
}



.email-error-arrow-right {
    visibility: hidden;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #27836c;
    position: absolute;
    z-index: 2;
    left: 794px;
    top: 252px;
}

.box-2 {
    font-family: SF Pro Display;
    margin-left: 12px;
    border-width: 1px;
    height: 35px;
    border: 1px solid #b7c0ce;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    top: 1px;
    left: 196px;
}

.ln-error-arrow-right {
    visibility: hidden;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #27836c;
    position: absolute;
    z-index: 26;
    left: 1111px;
    top: 229px;
    transform: rotate(-90deg);
}



.pw-error-arrow-right {
    visibility: hidden; 
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #27836c;
    position: absolute;
    z-index: 26;
    left: 786px;
    top: 291px;
    transform: rotate(-360deg);
}








.genm {
    margin-left: 10px;
}
